:root {
  --background-color-dark: #070707;
  --text-color-dark: #fff;
  --background-color-light: #fff;
  --text-color-light: #333;
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.white {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}



.button-container {
  
  display: flex;
  justify-content: center;
}

.button-85 {
  top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* weatherApp  */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(0.75); 
  width: 90%;
  max-width: 470px;
  max-height: 700px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  padding: 20px 15px;
  border-radius: 20px;
  text-align: center;
  transform-origin: center; 
}



  .card:before {
      filter: blur(5px); 
  }




.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nameMe {
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: left; 
  min-height: 20px; 
  background: transparent; 
  color: #0a0a0a; 
  font-size: 25px ; 
  border-radius: 30px; 
  margin-right: 16px; 
  cursor: default; 
  margin-top: -40px;
}

.nameMe img {
  width: 120px; 
  height: auto; 
  margin-right: 10px; 
}


.search input{
    padding: 10px 25px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    background: #ebfffc;
    color: #555;
    margin-right: 16px
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    text-align: left;
    align-items: center;
    display: flex;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    margin-left: -6px;
    font-size: 28px;
}



.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}



/* For mobile */

@media (max-width: 768px) {
  .card {
      padding: 20px 15px; 
      font-size: 16px; 
  }

  .search input, .search button {
      height: 48px; 
      font-size: 16px; 
  }

  .search button img {
      width: 24px; 
  }

  .weather-icon, .col img {
      width: 48px; 
  }

  .weather h1 {
      font-size: 60px; 
  }

  .weather h2, .humidity, .wind {
      font-size: 24px; 
  }

  .details, .nameMe, .search {
      flex-direction: column; 
      align-items: center; 
  }

  .search {
      margin-top: 20px; 
  }

  .nameMe {
      margin-top: 10px; 
  }

  .col {
      justify-content: center; 
  }
}





